@font-face {
    font-family: 'Oswald';
    src: url(media/fonts/Oswald-VariableFont_wght.ttf);
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    max-width: 95%;
    position: absolute;
    left: 20px;
}

body {
    background-color: #2F2FA2;
    display: flex;
    flex-direction: column
}

nav {
    border: 2px solid black;
    background-color: #F64C72;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 5px 5px;
    width: 100%;
    position: fixed;
    display: flex;
    overflow: hidden;
}

nav a {
    justify-content: center;
    padding: 20px 10px;
    color: white;
}

.aboutme {
    height: auto;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: inline-flex;
}

.aboutme img {
    max-width: 300px;
    max-height: 250px;
    border-radius: 30%;
    margin: 20px 20px;
    display: inline-block;
}

.aboutme.container {
    display: flex;
    flex-wrap: wrap;
}

.projects.container {
    display: flex;
}

.projects p{
    max-width: 60%;
}

.skills img {
    background-color: #2F2FA2;
    height: 50px;
    width: auto;
    margin: 10px 20px 10px 0;
    top: 20px;
    position: relative;
}

.skills ul {
    display: inline-block;
}

h1 {
    font-size: 3rem;
    padding-top: 80px;
}

h2 {
    font-size: 2rem;
}

@media only screen and (max-width: 480px) {
    .aboutme.container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1080px) {
    .aboutme {
        justify-content: center;
        align-items: center;
    }

}